<div class="group outro-screen">
  <p class="title">CONTACT</p>
  <div class="socials">
    <a class="linkedin" href="https://www.linkedin.com/in/raju-dangol-121435141/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a class="envelope" href="mailto:dangol.raju.work@gmail.com">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a class="github" href="https://github.com/RajuDangol45">
      <i class="fa-brands fa-github"></i>
    </a>
    <a class="stack-overflow" href="https://stackoverflow.com/users/8362191/raju-dangol">
      <i class="fa-brands fa-stack-overflow"></i>
    </a>
  </div>
</div>
