/* You can add global styles to this file, and also import other style files */
@import './app/styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla';
  font-size: 14px;
  background-color: #fefefe;
  
  .wrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .group {
    position: relative;
    height: 100vh;
  }
}